/* :root{
    --debug-color1: #7fffbf;
    --debug-color2: #ffff7f;
    --debug-color3: #ff7f7f;
} */

.main_field {
    min-width: 200px;
    width: 50%;
    margin: auto;
    border: dotted 2px gray;
}

.container{
    max-width: 40em;
    background-color: var(--debug-color1);
}

.row{
    margin: 5px;
    background-color: var(--debug-color2);
}

.col{
    margin: 5px;
    background-color: var(--debug-color3);
}