/* :root{
    --debug-color0: #7fbfff;
    --debug-color1: #7fffbf;
    --debug-color1_2: #bfff7f;
    --debug-color2: #ffff7f;
    --debug-color3: #ff7f7f;
    --debug-color4: #bf7fff;
} */

html, body{
    background-color: var(--debug-color0);
    height: 100%;
}

.container{
    background-color: var(--debug-color1);
}

.base_container{
    max-width: 40em;
}

.d-flex{
    max-width: 40em;
    background-color: var(--debug-color1_2);
}

div[class*="row"]{
    background-color: var(--debug-color2);
}

div[class*="col"]{
    background-color: var(--debug-color3);
}

.appItem{
    width: 100px;
    height: 150px;
    background-color: var(--debug-color4);
}